<div style="text-align:center" class="form-check">
            <h4></h4>
                <fieldset>
                    <h5>음식 종류 선택</h5>
                    전체<input type="radio" name="food[]" value="전체" checked />
                    한식<input type="radio" name="food[]" value="한식" />
                    중식<input type="radio" name="food[]" value="중식" />
                    양식<input type="radio" name="food[]" value="양식" />
                </fieldset>
                <fieldset>
                    <legend>재료 선택</legend>
                    파 <input type="checkbox" name="Ingredients[]" value="파"/>
                    양파 <input type="checkbox" name="Ingredients[]" value="양파" />
                    당근 <input type="checkbox" name="Ingredients[]" value="당근" />
                    햄 <input type="checkbox" name="Ingredients[]" value="햄" />
                    감자 <input type="checkbox" name="Ingredients[]" value="감자" />
                    <br>
                    계란 <input type="checkbox" name="Ingredients[]" value="계란" />
                    버섯 <input type="checkbox" name="Ingredients[]" value="버섯" />
                    돼지고기 <input type="checkbox" name="Ingredients[]" value="돼지고기" />
                    소고기 <input type="checkbox" name="Ingredients[]" value="소고기" />
                    닭고기 <input type="checkbox" name="Ingredients[]" value="닭고기" />
                    <br>
                    숙주나물 <input type="checkbox" name="Ingredients[]" value="숙주나물" />
                    콩나물 <input type="checkbox" name="Ingredients[]" value="콩나물" />
                    시금치 <input type="checkbox" name="Ingredients[]" value="시금치" />
                    브로콜리 <input type="checkbox" name="Ingredients[]" value="브로콜리" />
                </fieldset>
</div>


