{% extends "base.html" %}
{% load static %}

{% block content %}
<style>

</style>
<br>

<form action="." method="post"> {% csrf_token %}
    {{ form.as_table }}
    <div style=" text-align:center">
        <h4>요리 이름으로 검색</h4>
        <input type="검색" value="" style="width:300px;height:50px;font-size:30px;">
        <button type="submit" style="width:120px;height:50px;font-size:30px;background-color:#69F0AE">검색</button>
    </div>
    <hr>

    {% if post_list %}
    <div class="container">

        {% for post in post_list %}
        <a href="{% url 'articleapp:detail' pk=article.pk %}">
            {% include 'snippets/card.html' with article=article %}
        </a>
        {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>

    {% else %}
    <div class="text-center">
        <h1>No Article YET!</h1>
    </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

</form>
{% endblock %}